@import '../../styles';

.avatar {
  grid-area: avatar;

  position: relative;

  width: 36px;
  height: 36px;
}

.avatar-container {
  @include Absolute-Attach();

  text-align: center;

  @include Border();

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  user-select: none;
}
