@import '../../styles/index';

.room-button {
  @include Loose-Layout;
  @include Primary-Font;

  user-select: none;

  color: $Foreground-Color;
  background-color: $Background-Color;

  &:hover {
    background-color: $Shadow-Color;
  }

  &:active {
    background-color: $Foreground-Color;
    color: $Background-Color;
  }
}

.room-button-inverted {
  @include Loose-Layout;
  @include Primary-Font;

  user-select: none;

  color: $Background-Color;
  background-color: $Foreground-Color;

  &:hover {
    background-color: $BlackShadow-Color;
  }

  &:active {
    background-color: $Background-Color;
    color: $Foreground-Color;
  }
}