@import './styles';

// Give some default settings for all elements
* {
  font-family: $Primary-Font;

  // Make selection black and white
  &::selection {
    background-color: $Foreground-Color;
    color: $Background-Color;
  }
}

// No margin for body element
body {
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: $Background-Color;
  background-color: $Shadow-Color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $BlackShadow-Color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $Foreground-Color; 
}