@import '../../styles/index';

// Style of room list (Should use absolute)
.room-list {
  @include Absolute-Attach();

  padding: 8px;

  display: flex;
  flex-direction: column;

  @include Vertical-Slider();
}

.room-list-btn {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0px;
}
